name: CI

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: ziglang/setup-zig@v1
        with:
          zig-version: 0.15.2

      - name: Run e2e
        run: zig build e2e
